{% if site.avatar -%}
<div class="sidebar-section">
  {%- if site.avatar contains "://" -%}
  {%- assign avatar = site.avatar -%}
  {%- else -%}
  {%- assign avatar = site.avatar | relative_url -%}
  {%- endif -%}
  <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
</div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
    <li>
      <span class="sidebar-icon">{%- include icon.html name="at" -%}</span>
      <span class="contact-info p-name">{{ site.author | escape }}</span>
    </li>
    {%- endif %}
    {% if site.email -%}
    <li>
      <span class="sidebar-icon">{%- include icon.html name="envelope" -%}</span>
      <a class="contact-info u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </li>
    {%- endif %}
    {% if site.location -%}
    <li>
      <span class="sidebar-icon">{%- include icon.html name="location" -%}</span>
      <a class="contact-info u-location" href="https://www.google.com/maps/search/{{ site.location }}">{{ site.location
        }}</a>
    </li>
    {%- endif %}
  </ul>
</div>

{% if site.subscribe != false -%}
<div class="sidebar-section feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <span class="sidebar-icon">{%- include icon.html name="rss" -%}</span><span>Subscribe</span>
  </a>
</div>
{%- endif %}

{% if site.data.social -%}
<div class="sidebar-section">
  <ul class="social-icons">
    {% for social in site.data.social -%}
    <li>
      <a class="social-icon" href="{{ social.url }}" aria-label="{{ social.title }}">{%- include icon.html name=social.icon -%}</a>
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endif %}
