---
layout: page
---

{{ content }}

{% comment %} Check the type of archive {% endcomment %}
{%- if page.type == 'categories' -%}
  {%- assign taxonomies = site.categories -%}
{%- elsif page.type == 'tags' -%}
  {%- assign taxonomies = site.tags -%}
{%- else -%}
  {%- assign taxonomies = none -%}
{%- endif -%}

{% comment %} Calculate the max count of taxonomies {% endcomment %}
{%- assign max_count = 0 -%}
{%- for taxonomy in taxonomies -%}
  {%- assign posts = taxonomy[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

{%- if page.type == 'tags' and max_count > 0 -%}
<div class="tag-cloud" aria-label="Tag cloud">
  {%- assign min_count = max_count -%}
  {%- for taxonomy in taxonomies -%}
    {%- if taxonomy[1].size < min_count -%}
      {%- assign min_count = taxonomy[1].size -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign count_range = max_count | minus: min_count -%}
  {%- if count_range == 0 -%}{%- assign count_range = 1 -%}{%- endif -%}

  {%- assign sorted_tags = taxonomies | sort -%}
  {%- for taxonomy in sorted_tags -%}
    {%- assign taxonomy_name = taxonomy[0] -%}
    {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
    {%- assign posts = taxonomy[1] -%}
    {%- assign normalized = posts.size | minus: min_count | times: 100 | divided_by: count_range -%}
    {%- assign font_size = normalized | times: 14 | divided_by: 100 | plus: 8 -%}
    {%- capture link -%}{{ page.permalink }}#{{ slugified_taxonomy_name }}{%- endcapture -%}
    <a class="tag-cloud-item" href="{{ link | relative_url }}"
       style="font-size: {{ font_size }}px;"
       title="{{ posts.size }} 개의 글">
      {{ taxonomy_name }}<span class="tag-cloud-count">{{ posts.size }}</span>
    </a>
  {%- endfor -%}
</div>
{%- endif -%}

<div class="taxonomies-wrapper">
  <ul class="taxonomies">
    {%- for i in (1..max_count) reversed -%}
      {%- for taxonomy in taxonomies -%}
        {%- assign taxonomy_name = taxonomy[0] -%}
        {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
        {%- assign posts = taxonomy[1] -%}
        {%- if posts.size == i -%}
          <li>
            {%- capture link -%}{{ page.permalink }}#{{ slugified_taxonomy_name }}{%- endcapture -%}
            <a class="taxonomy" href="{{ link | relative_url }}">
              <span>
                {{ taxonomy_name }}
              </span>
              <span class="taxonomy-count">{{ posts.size }}</span>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</div>

{% comment %} Show posts by taxonomy {% endcomment %}
{%- for i in (1..max_count) reversed -%}
  {%- for taxonomy in taxonomies -%}
    {%- assign taxonomy_name = taxonomy[0] -%}
    {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
    {%- assign posts = taxonomy[1] -%}
    {%- if posts.size == i -%}
      <h2 id="{{ slugified_taxonomy_name }}">
        {%- if page.type == 'tags' -%}
          {{ slugified_taxonomy_name }}
        {%- else -%}
          {{ taxonomy_name }}
        {%- endif -%}
      </h2>
      <ul class="post-list-by-taxonomy">
        {%- for post in posts -%}
          <li>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      <button class="back-to-top back-to-top-inline" aria-label="Back to top" onclick="document.getElementById('site-main').scrollTo({top:0,behavior:'smooth'})">
        {%- include icon.html name="chevron-up" -%} Top
      </button>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
